*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 4000px;
}
header{
    width:100%;
    height:100px;
    background-color:rgb(249, 245, 240);
    position:sticky;
    top:0px; 
    z-index: 1;
    }

nav{
    height:100%;
    width:100%;
}

.blinkit{
    font-size: 40px;
    padding: 12px;
    list-style-type: none;  
}

.blinkit-color{
    text-decoration: none;
    color:rgb(253, 220, 6);
    font-weight:bolder;
}

.it-color{
    color: rgb(3, 214, 3);
}

ul{
    display:flex;   
    justify-content: space-evenly;
    align-items: center; 
}

.deliver-timing{
    font-weight: bolder;
    font-size: 20px;
    padding:20px;
}

.select-address{
    border:none;
    font-weight:lighter;
    font-size:15px;
}

.address{
    text-decoration: none;
    color:black;
}

button{
    border:none;
    font-size: 15px;
    
    
}
label{
    width:40%;
    height:50px;
    margin-top:25px;
 
}

.search{
    width:100%;
    height:100%;
    border-radius: 10px;
    border:lightgrey;
    margin-top: -70px;
    

    
}

.serach-icon{
    position: relative;
    top:28px;
    left:5px;
    font-size: 20px;
}

.login{
    border: none;
    width:100px;
    height:45px;
    border-radius: 5px;
    background-color: rgb(3, 214, 3);
    padding:10px;
    text-align: center;
    margin-left: 20px;

}

.card{
     border: none;
    width:60%;
    height:45px;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.463);
    padding:10px;
    text-align:center;
    margin-right: 50px;

    
   
}

.input1{
    width:95%;
    height:40px;
    border: none;
    display: none;
}

/* ------------navbar----------- */

.main-scroll-bar{
    width:100%;
    height:60px;
    background:rgb(249, 245, 240);
    display: flex;
    justify-content: space-evenly;
     position:sticky;
    top:100px;
    z-index: 10;
  
}




.wedding a{
    font-size: 12px;
}

.all-item a{
    font-size: 12px;
    text-decoration: none;
    color:black;
    font-weight: 700;
    padding: 5px;
    margin-right: 20px;   
}

.all-item:hover{
    background: linear-gradient(to bottom right,#008cff,#e100ff);
    border-radius: 10px;
}



.all-item i{
    font-size: 30px;
    display: block;
    color:gray;
    margin-top: 8px;
    margin-left: 10px;
}

.all-item{
    margin-left:30px;
    margin-right:30px;
}

.kids-content{
    margin-left: 10px;
}

.fashion-content{
    font-size: 20px;
}
/* -----------------main-scroll-bar--------------- */

.best-seller-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
    text-align: center;
}

.chips-item-parent{
    width:100%;
    height:100%;
    margin-top: 30px;
    margin-left: 20px;
    /* display:flex; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:40px;   
    
}

    

.chips-item{
    width:200px;
    height:100%;
    border:2px solid rgb(231, 227, 227);
    border-radius: 15px;
    background-color: rgb(231, 227, 227); 
}

.snacks-image{
    width:40%;
    margin-left: 10px;
    height:30%;
    background-color: white;
    border-radius: 15px;
    margin-top: 5px;


}

.more-item p{
    font-size: 12px;
    position:relative;
    left:60px;
    bottom:11px;
    width:32%;
    height:15px;
    border-radius: 10px;
    padding: 1px;
    color:gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(231, 227, 227);
}

.chips-name{
    text-align: center;
    position: relative;
    bottom:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------best seller---------- */

.vegetable-image{
    width:200px;
}

.grocery{
    width:200px;
    height:140px;
    background-color: rgb(231, 227, 227);
    border-radius: 15px;
}

.vegetable-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

.grocery-parent{
    width:100%;
    display: flex;
    gap:30px;
    justify-content: space-around;
  
}

.oil-image{
    width:100px;
    margin-left: 40px;
    margin-top: 10px; 
}

.vegetable-name1{
   margin-top: 8px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-size: 20px;
}

.juice-image{
    width:150px;
    margin-top: 30px;
    margin-left: 30px;
}
/* ---------------grocery-item---------- */

.snacks-parent{
    display:flex;
    gap:30px;
    justify-content: space-evenly;
    width:100%;
}
/* -------------snacks----------- */

.main-footer{
    display: flex;
}


.footer{
   margin-left:100px;
   margin-top:100px;
   color:gray;
   line-height: 1.5;
  
  
}

.second-line{
    margin-top: 150px;
    color:gray;
    line-height: 1.5;
    margin-left:50px;
   
}

.third-line{
     color:gray;
    line-height: 1.5;
    margin-top:155px;
    margin-left:90px;
}

.categories{
     color:gray;
    line-height: 2.2;
    margin-top:100px;
    margin-left:150px;
}

.footer-heading{
    color:black;

}

.last-footer{
    display:flex;
}


.main-footer p{
    font-size: 18px;
}

.link-footer{
    color:gray;
    font-size: 14px;
    margin-top:60px;
    margin-left: 350px;
}

.download{
    margin-top:57px;
    margin-left: 150px;
    font-size: 20px;
}

.download p{
    display: flex;

}

i{
    margin-left: 15px;
}
/* ----------footer-------------- */

 @media (max-width:480px){
   header{
    height:100px;
    width:100%;
  }

  .blinkit{
   display: none;
  }

  .deliver-timing{
     font-size:20px;
     /* width:2000px; */
     padding: 0;
     margin-top: 20px;
     margin-left: 10px;
    
  }

  .address{
    font-size:17px;
    width:100%;
    color:gray;
  
  }
  ul{
    position:relative;
  }

    div .login{
        position: relative;   
  }

 

  .login{
    font-size: 15px;
    padding:0;
    width:100%;
    position:absolute;
    right: 130px;   
  }

  .card{
    position: absolute;
    width:20%;
    right:-50px;
    bottom: 20px;
  }



 .search{
   display:none;
  }

  /* --------------navbar----------- */

 .main-scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
    height:50px;
    /* margin-top:80px; */
  }

  .all-item i{
    font-size: 15px;
    margin-left: 20px;
   
  }




  /* --------scroll-bar------------- */

.best-seller-font{
    text-align: center;
}

.chips-item-parent{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.grocery-parent{
        display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.grocery{
    margin-bottom: 20px;
}

.snacks-parent{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.vegetable-name1{
    font-size: 15px;
}
/* -----------grocery------------- */


.main-footer{
    display: block;
   }


 .footer{
    margin-left:50px;
    margin-top: 50px;  
  }

.footer-heading1{
 margin-left:50px;
    
 }

.second-line{
    margin-left:0;
}

.third-line{
   
    margin-left: 50px; 
    margin-top:20px;
}

.footer,.second-line,.third-line{
   display:inline-block;
}

   footer{
    margin-top:0;
  } 


  .categories{
    margin-left: 150px;
    margin-top:20px;
  }

.last-footer{
    display:block;

}

.link-footer{
    margin-left: 100px;
}

.download p{
  margin-left: -70px;
}

 }

 /* -----mediaquary 480px------- */
@media(min-width:481px) and (max-width:768px) {


 header{
    height:100px;
    width:100%;
  }

  .blinkit{
   display: none;

  }

  .deliver-timing{
     font-size:18px;
     /* width:2000px; */
     padding: 0;
     margin-top: 20px;
     margin-left: 10px; 
  }

  .address{
    font-size:20px;
    width:100%;
    color:gray;
  }

  ul{
    position:relative;
  }

  div .login{
        position: relative;
        
  }

 

  .login{
    font-size: 15px;
    padding:0;
    width:100%;
    top:10px;
    position:absolute;
    right: 170px;  
  
  }

  .card{
    position: absolute;
    width:15%;
    right:-30px;
    bottom: 5px;
   
  
  }


 .search{
    display:none;
  }

  .input{
    width:100%;
    height:90%;
     background-color:rgb(249, 245, 240);
  }

  .input1{
    display: block;
    height:40px;
    border-radius: 10px;
    margin-left:8px;
    /* margin-top:10px; */
    border:1px solid lightgrey;

  }

    /* --------------navbar----------- */

.main-scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
    height:50px;
    /* margin-top:80px; */

  }
  .all-item i{
    font-size: 15px;
    margin-left: 20px;
   
  }

  .all-item a{
    /* margin-right: 20px; */
  }

  /* --------scroll-bar------------- */

.best-seller-font{
    text-align: center;
    font-size: 30px;
}

.chips-item-parent{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
}

.grocery-parent{
        display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.grocery{
    margin-bottom: 20px;
}

.snacks-parent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.vegetable-name1{
    font-size: 15px;
}
/* --------grocery--------------- */

.main-footer{
    display: block;
   }


 .footer{
    margin-left:50px;
    margin-top: 50px;  
  }

  .footer-heading2{
    /* margin-left:60px; */
    text-align: center;
    
  }


.second-line{
    margin-left:0;
}

.third-line{
    margin-left: 50px; 
    margin-top:20px;
}

.footer,.second-line,.third-line{
   display:inline-block;
   margin-left:120px;
 
}




  .categories{
    display:inline-block;
    margin-left: 90px;
    margin-top:50px;

  }
.last-footer{
    display:block;

}

.link-footer{
    margin-left: 200px;
  
}

.download p{
    margin-left: 50px;
}
}

@media(min-width:769px) and (max-width:1024px) {



         header{
    height:100px;
    width:100%;

  }

  .blinkit{
   /* display: none; */

  }

  .deliver-timing{
     font-size:23px;
     /* width:2000px; */
     padding: 0;
     margin-top: 20px;
     margin-left: 10px;
    
    
  }

  .address{
    font-size:20px;
    width:100%;
    color:gray;
  
  }
  ul{
    position:relative;
  }

  div .login{
        position: relative;
        
  }

 

  .login{
    font-size: 20px;
    padding:0;
    width:100%;
    position:absolute;
    right: 300px;  
  
  }

  .card{
    position: absolute;
    width:15%;
    right:50px;
    bottom: 15px;
  
  }


 .search{
    display:none;
  }

  .input{
    width:100%;
     background-color:rgb(249, 245, 240);
  }

  .input1{
    display: block;
    height:40px;
    border-radius: 10px;
    margin-left:8px;
    /* margin-top:10px; */
    border:1px solid lightgrey;

  }


/* 
  .input1{
    display: block;
    border-radius: 10px;
    margin-left:8px;
    margin-top:10px;
    border:1px solid;
  } */

   /* ------------navbar------- */

   .main-scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
    height:60px;
    /* margin-top:10px; */

  }
  .all-item i{
    margin-top:15px;
    font-size: 20px;
    margin-left: 20px; 
  }

    /* --------scroll-bar------------- */



   .best-seller-font{
    text-align: center;
    font-size: 33px;
}

.chips-item-parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grocery-parent{
        display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grocery{
    margin-bottom: 20px;
}

.snacks-parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.vegetable-name1{
    font-size: 18px;

}
/* --------grocery--------------- */

  
 
.main-footer{
    display: block;
   }


 .footer{
    margin-left:50px;
    margin-top: 50px;  
  }

  .footer-heading2{
    /* margin-left:60px; */
    text-align: center;
    
  }


.second-line{
    margin-left:0;
}

.third-line{
    margin-left: 50px; 
    margin-top:20px;
}

.footer,.second-line,.third-line{
   display:inline-block;
   margin-left:120px;
 
}




  .categories{
    display:inline-block;
    margin-left: 90px;
    margin-top:50px;

  }
.last-footer{
    display:block;

}

.link-footer{
    margin-left: 200px;
  
}

.download p{
    margin-left: 50px;
}

}
/* ------------------footer--------------- */

/* --------------media(min-width:769px) and (max-width:1024px)-------- */


   @media(min-width:1025px) and (max-width:1200px){



.card{
    position:relative;
    left:40px;
   }

   .main-scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
   }


      .best-seller-font{
    text-align: center;
    font-size: 36px;
}

.chips-item-parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.grocery-parent{
        display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.grocery{
    margin-bottom: 20px;
}

.snacks-parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.vegetable-name1{
    font-size: 20px;

}

/* ----------card item--------------- */


   .categories{
    margin-left:10px;
   }
   
  .third-line{
    margin-left: 20px;
  }

  .categories{
    margin-left: 50px;
  }

  .link-footer{
    margin-left: 100px;
    font-size: 25px;
  }

  .download{
    font-size: 25px;
  }



   }

   
   /* --------------media(min-width:1025px) and (max-width:1200px)-------- */


   @media(min-width:1201px) and (max-width:1399px){

    .main-scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
    height:80px;
    

  }
  .all-item i{
    margin-top:25px;
    font-size: 30px;
    margin-left: 20px; 
  }

  .chips-none{
    display: none;
  }
}  

   /* --------------media(min-width:1201px) and (max-width:1399px)-------- */


   @media(min-width:1400px){


     .main-scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
    height:80px;
    

  }
  .all-item i{
    margin-top:25px;
    font-size: 35px;
    margin-left: 20px; 
  }

    /* --------scroll-bar------------- */
   }










 
































 















 
